h2 {
    margin-top: 2.5rem;
}


.listado-servicios {
    @include tablet {
        @include grid( 2 , 2rem);
        .servicio{
            margin-bottom: 0;
        }
    }

    .servicio {
        margin-bottom: 2rem;
        background-color: $blanco;
        padding: 1rem;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    .nombre-servicio {
        color: $negro;
        font-size: 2.5rem;
        margin: 1rem;
    }
    .precio-servicio {
        color: $azul;
        font-weight: $bold;
        font-size: 3.2rem;
        margin: 1rem;
    }
}
